.balance-firstcontainer {
  border-radius: 1rem;
}
.balance-head{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.balance-amount__display{
  font-size: 4rem;
  color: #5acc97;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);
}
.pending-balance__head{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.pending-balance__amount{
  font-size: 2rem;
  color: rgb(154, 89, 82);
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);
}



.balance-btn button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.balance-btn__send {
  background-color: #ff5252;
  color: #fff;
}

.balance-btn__Recieve {
  background-color: #5acc97;
  color: #fff;
}

.balance-btn button:hover {
  transform: scale(1.1);
}

.balance-btn button:active {
  transform: scale(0.9);
}

@keyframes count-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.balance-amount__display {
  animation: count-up 1s forwards;
}

.balance-amount__currency{
  color: #3c4043;
}

