
.balance-secondcontainer {
  width: 60rem;
  border-radius: 1rem;
}

.balance-second__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-radius: 1rem;
  color: #211f6d;
}

.balance-second__head1,
.balance-second__head2 {
  padding-left: 0.4rem;
  padding-right: 0.5rem;
}

.balance-second__subhead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}

.balance-second__subhead1,
.balance-second__subhead2,
.balance-second__subhead3 {
  padding-left: 0.4rem;
  padding-right: 0.5rem;
}

.balance-second__single {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  color: #211f6d;
  border-radius: 0.5rem;
}

.balance-second__ul {
  margin-top: 0;
  padding-left: 0;
}

.balance-second__single:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.balance-received{
  color: #5acc97;
  font-size: 0.65rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1rem;
  padding: 0.35rem 0.7rem;
  margin-bottom: 0.9rem;
  text-align: center;
  width: 4.5rem;
}
.balance-sent{
  color: rgb(240, 141, 141);
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1rem;
    padding: 0.35rem 0.7rem;
    margin-bottom: 0.9rem;
    text-align: center;
    width: 6rem;

}
.balance-second__head2{
  cursor: pointer;
  background-color: white;
  color: #f36d5f;
  border-radius: 10em;
  font-size:0.6rem;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f36d5f;
  box-shadow: 0 0 0 0 #f36d5f;

}
.balance-second__head2:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #f36d5f;
  };
  
.balance-second__head2:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #f36d5f;
  };

