.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact-heading {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-label {
  font-weight: bold;
  margin-top: 10px;
}

.contact-input,
.contact-textarea ,.contact-select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-submit {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
}

.contact-submit:hover {
  background-color: #45a049;
}
